:root {
    --primary-color: #23518c;
    --secondary-color: #5b7ba6;
    --terciary-color: #88a0bf;
    --cuaternary-color: #1b2126;
    --input-color: #f2f2f2;
    --background-color: white;
    --font-family: "Oswald", serif;
}

.bg-primary-color {
    background: var(--primary-color);
}
.bg-second-color {
    background: var(--secondary-color);
}

* {
    font-family: var(--font-family);
    user-select: none;
}
html,
body {
    /* height: 100%; */
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* .button-mv { display: none; }
@media (max-width: 1023px) {
    .links { display: none; }
    .button-mv { display: block; }
} */
header {
    position: sticky;
    top: 0;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    z-index: 100;
}

header nav .links a {
    font-size: 14px;
    /* border: 2px solid var(--input-color); */
    border-radius: 25px;
    padding: 5px 10px;
    /* color: rgb(255, 255, 255); */
    /* text-decoration: none; */
}
header nav .links .link:hover {
    /* color: black; */
    /* border: 2px solid var(--cuaternary-color); */
    background-color: var(--terciary-color);
}

.active {
    color: #fcfcfc;
    /* background-color: var(--cuaternary-color); */
}

.title {
    display: flex;
    margin-left: 1%;
    align-items: center;
    user-select: none;
}
.title {
    cursor: pointer;
}

.img_profile {
    width: 40px;
    object-fit: contain;
    margin: 10px;
}

.quienSomos {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.quienSomos h2 {
    margin: 80px auto;
    text-align: center;
}

.footer {
    width: 100%;
    color: white;
    background: var(--primary-color);
    box-shadow: rgb(38, 57, 77) 10px 0px 30px 10px;

    /* position: sticky;
    bottom: 0; */
}

select {
    appearance: none;
}

/* FORMULARIO DE CONTACTO */
.container-form {
    width: 100%;
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 50px;
    margin-top: 20px;
    margin-bottom: 60px;
    /* margin-bottom: 20px; */
    padding: 30px;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.container-form h2 {
    margin-bottom: 15px;
    font-size: 35px;
    user-select: none;
}

.container-form p {
    font-size: 17px;
    line-height: 1.6;
    margin-bottom: 30px;
    user-select: none;
}

.container-form a {
    font-size: 17px;
    display: inline-block;
    text-decoration: none;
    width: 100%;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
    user-select: none;
    transition: color 0.3s ease-in-out;
}

.container-form a:hover {
    color: var(--primary-color);
}

.container-form a i {
    color: var(--primary-color);
    margin-right: 10px;
}

.container-form form .campo,
.container-form form textarea {
    width: 100%;
    padding: 15px 10px;
    font-size: 15px;
    border: 1px solid var(--input-color);
    margin-bottom: 20px;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
    background: white;
}

.container-form form .campo:focus,
.container-form form textarea:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    transform: scale(1.02);
}

.container-form form textarea {
    min-height: 140px;
    resize: vertical;
}

.container-form .btn-enviar {
    padding: 15px;
    font-size: 16px;
    border: none;
    background: var(--primary-color);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    width: 100%;
}

.container-form .btn-enviar:hover {
    background-color: var(--secondary-color);
    color: black;
    transform: scale(1.05);
}
